<!--================Footer Area =================-->
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Lets talk about</h2>
                    <p>Partner with us to build a website that creates a platform for your success.</p>
                    <!-- <p><a href="#" class="btn btn-primary">Learn more</a></p> -->
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="/about"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                        <li><a href="/skills"><span class="fa fa-chevron-right mr-2"></span>skills</a></li>
                        <li><a href="/services"><span class="fa fa-chevron-right mr-2"></span>Services</a></li>
                        <li><a href="/projects"><span class="fa fa-chevron-right mr-2"></span>Projects</a></li>
                        <li><a href="/contact"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="/services"><span class="fa fa-chevron-right mr-2"></span>Website Design</a></li>
                        <li><a href="/services"><span class="fa fa-chevron-right mr-2"></span>UI Design</a></li>
                        <li><a href="/services"><span class="fa fa-chevron-right mr-2"></span>CMS Integration</a></li>
                        <li><a href="/services"><span class="fa fa-chevron-right mr-2"></span>Technical SEO</a></li>
                        <li><a href="/services"><span class="fa fa-chevron-right mr-2"></span>API Integration</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <!-- <li><span class="icon fa fa-map marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li> -->
                            <li><a href="tel://9813866346"><span class="icon fa fa-phone"></span><span class="text">+91 981-3866-346 </span></a></li>
                            <li><a href="mailto:rs.saini0224@gmail.com"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">rs.saini0224@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a target="_blank" href="https://www.linkedin.com/in/rohit-saini-4425a8261/"><span class="fa fa-linkedin"></span></a></li>
                        <li class="ftco-animate"><a target="_blank" href="https://dribbble.com/rohit-rt"><span class="fa fa-dribbble"></span></a></li>
                        <li class="ftco-animate"><a target="_blank" href="https://www.facebook.com/profile.php?id=61577870942103"><span class="fa fa-instagram"></span></a></li>
                        <li class="ftco-animate"><a target="_blank" href="https://www.instagram.com/rs.saini0224/"><span class="fa fa-facebook"></span></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This website is made <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://rohitsaini.co.in/" target="_blank">Rohit Saini</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->

{{- partial "script.html" . -}}


</body>

</html>