<!--================Footer Area =================-->
<!-- Start Footer Area -->
        <div class="footer-area">
            <div class="footer-top-info">
                <div class="container-fluid">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6">
                            <div class="footer-image">
                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=vFINPUJDkS8">
                                    <img src="/img/all-img/image-1.jpg" alt="image">
                                </a>
                                <span id="tooltip">play</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content ft-shape">
                                <div class="logo">
                                    <h2>MeetAI</h2>
                                </div>
                                <p>Aithm is poised to revolutionize the way we live and work, offering unprecedented possibilities for innovation and efficiency.</p>
                                <ul>
                                    <li><a href="index.html#" ><i class="bx bxl-facebook"></i></a></li>
                                    <li><a href="index.html#/" ><i class="bx bxl-instagram"></i></a></li>
                                    <li><a href="index.html#" ><i class='bx bxl-pinterest'></i></a></li>
                                    <li><a href="index.html#" ><i class='bx bxl-linkedin-square'></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-widget-info ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="subscribe-area">
                                <h2>Subscribe To Ai!</h2>
                                <p>Artificial Intelligence is a transformation field of computer science that empowers machines to perform</p>
                                <div class="subscribe-wrapper"> 
                                    <div class="subscribe-box"> 
                                        <form data-toggle="validator">
                                            <div class="row align-items-center"> 
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="Your email address @" name="EMAIL" required autocomplete="off">
                                                </div> 
                                                <div class="col-lg-4"> 
                                                    <button type="submit" class="btn">Subscribe</button>
                                                </div> 
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-4">
                            <div class="footer-widget">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="team.html">Developers</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-4">
                            <div class="footer-widget">
                                <h4>Resource</h4>
                                <ul>
                                    <li><a href="blog.html">Blogs</a></li>
                                    <li><a href="term-condition.html">Term of services</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="cookie-policy.html">Cookie Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-4">
                            <div class="footer-widget">
                                <h4>Office</h4>
                                <span>175 5th Ave, New York, NY 10010, USA</span>
                                <a class="ft-mail" href="mailto:example@example.com">example@example.com</a>
                                <a class="ft-number" href="tel:+18408412569">+1 840 841 25 69</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right-area">
                <div class="container">
                    <div class="row"> 
                        <div class="col-xl-4 col-lg-5">
                            <div class="cpr-left">
                                <p>Copyright© 2025 Aithm. All rights reserved.</p>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="cpr-right">
                                <ul>
                                    <li><a href="term-condition.html">Term of services</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="cookie-policy.html">Cookie Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area -->

        <div class="go-top active">
            <i class="bx bx-up-arrow-alt"></i>
        </div>
<!--================End Footer Area =================-->

{{- partial "script.html" . -}}


</body>

</html>