<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    <meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
    <!-- Enhanced Keywords Meta Tag -->
    <meta name="keywords" content="">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/css/nice-select.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- favicon Linked -->
    <link rel="icon" type="image/png" href="assets/img/all-img/favicon.png">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-20HKJF5NP2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-20HKJF5NP2');
    </script>
</head>

<a href="https://api.whatsapp.com/send?phone=18257344597&text=Hello! I'm looking for Thanks!" target="_blank"
    class="whatsapp_float">
    <img src="/img/whatsapp.svg" alt="WhatsApp">
</a>

<body class="dark-theme">

    <style>
        .whatsapp_float {
            position: fixed;
            bottom: 80px;
            right: 8px;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            z-index: 100;
        }
    </style>