<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    <meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
    <!-- Enhanced Keywords Meta Tag -->
    <meta name="keywords" content="">
    <!-- Enhanced SEO Meta Tags -->
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
    <meta name="googlebot" content="index, follow">
    <!-- Enhanced Open Graph Metadata -->
    <meta property="article:modified_time" content="{{ now.Format " 2006-01-02T15:04:05-07:00 " }}" />
    <!-- Link Bootstrap Icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
        crossorigin="anonymous">
    <!--  Link slick slider  -->
    <!-- <link rel="stylesheet" href="/css/slick.css"> -->
    <!-- <link rel="stylesheet" href="/css/slick-theme.css"> -->
    <!-- Link aos animation  -->
    <link rel="stylesheet" href="/css/aos.css">
    <!-- Link popup  -->
    <!-- <link rel="stylesheet" href="/css/magnific-popup.css"> -->
    <!-- Link Bootstrap css -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <!-- Link Custom css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
    <link rel="icon" href="/images/favicon.jpg" type="image/x-icon">
    <!-- Canonical and SEO Links -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-20HKJF5NP2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-20HKJF5NP2');
    </script>
</head>

<a href="https://api.whatsapp.com/send?phone=18257344597&text=Hello! I'm looking for Thanks!" target="_blank" class="whatsapp_float">
  <img src="/img/whatsapp.svg" alt="WhatsApp">
</a>

<body>

    <style>
        .whatsapp_float {
            position: fixed;
            bottom: 80px;
            right: 8px;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            z-index: 100;
        }
    </style>