{{if .IsHome }}
<!-- Start Hero Section -->
        <div class="hero-section-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content-2">
                            <div class="sub-title-2" data-aos="fade-zoom-in"
                            data-aos-duration="3000" data-aos-delay="400">
                                <p>Aithm Image Generator</p>
                            </div>
                            <h2> 
                                <span data-aos="fade-up" data-aos-duration="1000">Create beautiful art with</span> 
                                <span class="sub-head" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="200">Artificial Intelligence</span>
                            </h2>
                            <div class="image-generator-box"> 
                                    <div class="searchbox" data-aos="fade-zoom-in"
                                    data-aos-duration="1500">
                                        <div class="searchwrapper"> 
                                        <div class="row align-items-center"> 
                                            <div class="col-md-9">
                                                <form>
                                                    <input type="text" class="form-control" placeholder="Write your prompt and get you best ai artwork!">
                                                </form>
                                            </div> 
                                            <div class="col-lg-3"> 
                                                <form>
                                                    <button class="btn" type="submit">Generate</button>
                                                </form>
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="short-prompt" data-aos="fade-zoom-in"
                            data-aos-duration="1000">
                                <ul>
                                    <li><p>Quick Try :</p></li>
                                    <li><a class="hover-bg" href="portfolio.html">Creative</a></li>
                                    <li><a href="portfolio.html">Sport</a></li>
                                    <li><a href="portfolio.html">Animation</a></li>
                                    <li><a href="portfolio.html">Fantasy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Hero Section -->

        <!-- Start Features Section -->
        <div class="features-section-2 pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="feature-box" data-aos="fade-up" data-aos-delay="100">
                            <span>Ai Features</span>
                            <div class="icon">
                                <i class="fi fi-tr-memo-circle-check"></i>
                            </div>
                            <h3>Unique Content</h3>
                            <p>Our ai text generator will be give you a best solution.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="feature-box" data-aos="fade-up" data-aos-delay="200">
                            <span>Ai Features</span>
                            <div class="icon">
                                <i class="fi fi-tr-hourglass-start"></i>
                            </div>
                            <h3>Quick Result</h3>
                            <p>Our ai text generator will be give you a best solution.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="feature-box" data-aos="fade-up" data-aos-delay="300">
                            <span>Ai Features</span>
                            <div class="icon">
                                <i class="fi fi-tr-puzzle-alt"></i>
                            </div>
                            <h3>User Friendly</h3>
                            <p>Our ai text generator will be give you a best solution.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6">
                        <div class="feature-box"   data-aos="fade-up" data-aos-delay="400">
                            <span>Ai Features</span>
                            <div class="icon">
                                <i class="fi fi-tr-copy-image"></i>
                            </div>
                            <h3>Unlimited Result</h3>
                            <p>Our ai text generator will be give you a best solution.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Features Section -->

        <!-- Start About Section -->
        <div class="about-section pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="img-wrapper" data-aos="fade-zoom-in"
                        data-aos-delay="100">
                            <div class="img-box">
                                <img class="image-box-item" src="/img/all-img/about-1.png" alt="image">
                                <img class="image-box-item" src="/img/all-img/about-3.png" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="about-content" data-aos="fade-up" data-aos-delay="200">
                            <div class="sub-title-2">
                                <p>What Aithm Do</p>
                            </div>
                            <h2>Create your own AI business easily.</h2>
                            <p> AI systems can analyze data, recognize patterns, make decisions, and even adapt and improve over time. Whether it's speech recognition, image processing, or problem solving.</p>

                            <ul>
                                <li><i class='bx bx-check'></i> Natural Language Processing</li>
                                <li><i class='bx bx-check'></i>AI refers to the simulation of human</li>
                                <li><i class='bx bx-check'></i>Generating art, music, and literature.</li>
                            </ul>
                            <a class="default-btn" href="about.html"> <span>About Us</span> <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Section -->

        <!-- Start Brand Section -->
        <div class="brand-section-2 pb-100">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-6" data-aos="fade-zoom-in" data-aos-delay="100">
                        <div class="single-brand">
                            <img src="/img/all-img/white-brand-1.png" alt="image">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-6" data-aos="fade-zoom-in" data-aos-delay="200">
                        <div class="single-brand">
                            <img src="/img/all-img/white-brand-2.png" alt="image">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-6" data-aos="fade-zoom-in" data-aos-delay="300">
                        <div class="single-brand">
                            <img src="/img/all-img/white-brand-3.png" alt="image">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-6" data-aos="fade-zoom-in" data-aos-delay="400">
                        <div class="single-brand">
                            <img src="/img/all-img/white-brand-4.png" alt="image">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-6" data-aos="fade-zoom-in" data-aos-delay="500">
                        <div class="single-brand">
                            <img src="/img/all-img/white-brand-5.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Section -->

        <!-- Start team Section -->
        <div class="team-section pb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-md-6 col-lg-12">
                        <div class="team-content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title-2">
                                <p>Our Developers</p>
                            </div>
                            <h2>Meet our team of Creative Expert.</h2>
                            <p> AI systems can analyze data, recognize patterns, make decisions, and even adapt and improve over time.</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-6 col-lg-12">
                        <div class="team-card owl-carousel owl-theme" data-aos="fade-zoom-in" data-aos-delay="200">
                            <div class="single-team">
                                <img src="/img/all-img/team-1.png" alt="image">

                                <div class="team-text">
                                    <div class="team-title">
                                      <h4>Emily Parker</h4>
                                      <span>Web Designer</span>
                                    </div>
                                    <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                      porta leo, non tincidunt mauris condimentu eget. Vivamus non turpis elit. Aenean
                                      ultricies nisl sit amet.</p>
                                    <div class="team-social">
                                        <a href="index.html#" ><i class='bx bxl-facebook'></i></a>
                                        <a href="index.html#" ><i class='bx bxl-instagram'></i></a>
                                        <a href="index.html#" ><i class='bx bxl-github'></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-team">
                                <img src="/img/all-img/team-3.png" alt="image">

                                <div class="team-text">
                                    <div class="team-title">
                                      <h4>David Smith</h4>
                                      <span>Web Developer</span>
                                    </div>
                                    <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                      porta leo, non tincidunt mauris condimentu eget. Vivamus non turpis elit. Aenean
                                      ultricies nisl sit amet.</p>
                                    <div class="team-social">
                                        <a href="index.html#" ><i class='bx bxl-facebook'></i></a>
                                        <a href="index.html#" ><i class='bx bxl-instagram'></i></a>
                                        <a href="index.html#" ><i class='bx bxl-github'></i></a>
                                    </div>
                                  </div>
                            </div>
                            <div class="single-team">
                                <img src="/img/all-img/team-2.png" alt="image">

                                <div class="team-text">
                                    <div class="team-title">
                                      <h4>Olivia Johnson</h4>
                                      <span>UI/UX Specialist</span>
                                    </div>
                                    <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                      porta leo, non tincidunt mauris condimentu eget. Vivamus non turpis elit. Aenean
                                      ultricies nisl sit amet.</p>
                                    <div class="team-social">
                                        <a href="index.html#" ><i class='bx bxl-facebook'></i></a>
                                        <a href="index.html#" ><i class='bx bxl-instagram'></i></a>
                                        <a href="index.html#" ><i class='bx bxl-github'></i></a>
                                    </div>
                                  </div>
                            </div>
                            <div class="single-team">
                                <img src="/img/all-img/team-4.png" alt="image">

                                <div class="team-text">
                                    <div class="team-title">
                                      <h4>Nathan Reynolds</h4>
                                      <span>Animator</span>
                                    </div>
                                    <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                      porta leo, non tincidunt mauris condimentu eget. Vivamus non turpis elit. Aenean
                                      ultricies nisl sit amet.</p>
                                    <div class="team-social">
                                        <a href="index.html#" ><i class='bx bxl-facebook'></i></a>
                                        <a href="index.html#" ><i class='bx bxl-instagram'></i></a>
                                        <a href="index.html#" ><i class='bx bxl-github'></i></a>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End team Section -->

        <!-- Start Gallery Section -->
        <div class="gallery-section pb-100">
            <div class="container">
                <div class="section-title-2" data-aos="fade-up" data-aos-delay="100">
                    <div class="sub-title-2">
                        <p>Aithm Creation</p>
                    </div>
                    <h2>Unveil New Creative Horizons with Models</h2>
                </div>
                <!-- Filter Controls !-->
                <div class="controls" data-aos="fade-zoom-in" data-aos-offset="200">
                    <ul id="filters" class="clearfix">
                        <li class="filter active" data-filter="all">All</li>
                        <li class="filter" data-filter=".creative">Creative</li>
                        <li class="filter" data-filter=".animate">Animate</li>
                        <li class="filter" data-filter=".design">Design</li>
                    </ul>
                </div>
                <!-- Filter Grid !-->
                <div class="item-grid">
                    <!-- Item 1 !-->
                    <div class="item creative" data-cat="creative">
                        <a href="/img/all-img/Gallery-1.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-1.png" alt="image">
                        </a>
                    </div>
                    <div class="item creative" data-cat="creative">
                        <a href="/img/all-img/Gallery-4.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-4.png" alt="image">
                        </a>
                    </div>
                    <div class="item creative" data-cat="creative">
                        <a href="/img/all-img/Gallery-7.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-7.png" alt="image">
                        </a>
                    </div>
                    <div class="item animate" data-cat="animate">
                        <a href="/img/all-img/Gallery-2.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-2.png" alt="image">
                        </a>
                    </div>
                    <div class="item animate" data-cat="animate">
                        <a href="/img/all-img/Gallery-5.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-5.png" alt="image">
                        </a>
                    </div>
                    <div class="item animate" data-cat="animate">
                        <a href="/img/all-img/Gallery-8.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-8.png" alt="image">
                        </a>
                    </div>
                    <div class="item design" data-cat="design">
                        <a href="/img/all-img/Gallery-3.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-3.png" alt="image">
                        </a>
                    </div>
                    <div class="item design" data-cat="design">
                        <a href="/img/all-img/Gallery-11.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-11.png" alt="image">
                        </a>
                    </div>
                    <div class="item design" data-cat="design">
                        <a href="/img/all-img/Gallery-12.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-12.png" alt="image">
                        </a>
                    </div>
                    <div class="item design" data-cat="design">
                        <a href="/img/all-img/Gallery-6.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-6.png" alt="image">
                        </a>
                    </div>
                    <div class="item design" data-cat="design">
                        <a href="/img/all-img/Gallery-10.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-10.png" alt="image">
                        </a>
                    </div>
                    <div class="item design" data-cat="design">
                        <a href="/img/all-img/Gallery-9.png" class="popup-btn">
                            <img src="/img/all-img/Gallery-9.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Section -->

        <!-- Start Testimonial Section -->
        <div class="testimonial-section-2 pt-100 pb-70">
            <div class="container">
                <div class="testimonial-content-2 owl-carousel owl-theme">
                    <div class="testimonial-item-2" data-aos="fade-up" data-aos-offset="100">
                        <div class="row g-0 align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="content">
                                    <p>"I'm very grateful to have learned so much about design and it's impact on businesses. I'm looking forward to building the Huneebee Project brand with your expertise by my side."</p>
                                    <div class="info">
                                        <h4>James Land</h4>
                                        <span>Web Expert</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="image">
                                    <div class="quate-icon">
                                        <i class='bx bxs-quote-left'></i>
                                    </div>
                                    <img src="/img/all-img/testimonial-1.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item-2" data-aos="fade-up" data-aos-offset="200">
                        <div class="row g-0 align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="content">
                                    <p>"I'm very grateful to have learned so much about design and it's impact on businesses. I'm looking forward to building the Huneebee Project brand with your expertise by my side."</p>
                                    <div class="info">
                                        <h4>James Land</h4>
                                        <span>Web Expert</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="image">
                                    <div class="quate-icon">
                                        <i class='bx bxs-quote-left'></i>
                                    </div>
                                    <img src="/img/all-img/testimonial-2.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item-2">
                        <div class="row g-0 align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="content">
                                    <p>"I'm very grateful to have learned so much about design and it's impact on businesses. I'm looking forward to building the Huneebee Project brand with your expertise by my side."</p>
                                    <div class="info">
                                        <h4>James Land</h4>
                                        <span>Web Expert</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="image">
                                    <div class="quate-icon">
                                        <i class='bx bxs-quote-left'></i>
                                    </div>
                                    <img src="/img/all-img/testimonial-3.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Section -->

        <!-- Start Pricing Section -->
        <div class="pricing-section ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-12">
                        <div class="price-wrap">
                            <div class="price-video-wrap">
                                <video class="price-video" src="/img/all-img/video-2.mp4" playsinline autoplay muted loop>
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12">
                        <div class="pricing-content">
                            <h2>Our Pricing Plans</h2>
                            <p>AI systems can analyze data, recognize patterns, make decisions, and even adapt and improve over time.</p>

                            <div class="pricing-table">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="pricing-box active" data-aos="fade-zoom-in" data-aos-delay="100">
                                            <span>Most Popular</span>
                                            <h3>Montly Plan</h3>
                                            <p>Our ai text generator will be give you a best solution.</p>
                                            <div class="price-number">
                                                <h3>$500/m</h3>
                                            </div>
                                            <div class="price-fetures">
                                                <ul>
                                                    <li>Unlimited Projects</li>
                                                    <li>Download prototypes</li>
                                                    <li>10 user Limite</li>
                                                </ul>
                                            </div>
                                            <a class="default-btn" href="contact.html"><span>Get Started</span> <i class='bx bx-chevron-right'></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="pricing-box"  data-aos="fade-zoom-in" data-aos-delay="200">
                                            <span>Exclusive</span>
                                            <h3>Yearly Plan</h3>
                                            <p>Our ai text generator will be give you a best solution.</p>
                                            <div class="price-number">
                                                <h3>$1200/y</h3>
                                            </div>
                                            <div class="price-fetures">
                                                <ul>
                                                    <li>Unlimited Projects</li>
                                                    <li>Download prototypes</li>
                                                    <li>10 user Limite</li>
                                                </ul>
                                            </div>
                                            <a class="default-btn" href="contact.html"><span>Get Started</span> <i class='bx bx-chevron-right'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pricing Section -->

        <!-- Start Blog Section -->
        <div class="blog-section-2 pb-100">
            <div class="container">
                <div class="blog-content-2">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-7 col-md-7">
                            <div class="content">
                                <div class="sub-title-2" data-aos="fade-down" data-aos-offset="100">
                                    <p>Latest Blogs </p>
                                </div>
                                <h2 data-aos="fade-down" data-aos-offset="200">Latest News & Articles</h2>
                                <p>AI systems can analyze data, recognize patterns, make decisions, and even adapt and improve over time.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-5" data-aos="fade-up" data-aos-offset="300">
                            <div class="blog-content-btn">
                                <a class="default-btn" href="blog.html"><span>More Posts</span> <i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-md-6">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="/img/all-img/blog-1.jpg" alt="Image" class="trasnition">
                                <ul class="blog-metainfo">
                                    <li><i class='bx bx-calendar'></i> <a href="blog.html">Nov 25, 2025</a></li>
                                    <li><i class='bx bx-time'></i>2 mins read</li>
                                </ul>
                            </div>
                            <div class="blog-info">
                                <h3><a href="blog-details.html">The Rise of AI Navigating the Future of Technology</a></h3>
                                <a href="blog-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="/img/all-img/blog-2.jpg" alt="Image" class="trasnition">
                                <ul class="blog-metainfo">
                                    <li><i class='bx bx-calendar'></i> <a href="blog.html">Jun 18, 2025</a></li>
                                    <li><i class='bx bx-time'></i>2 mins read</li>
                                </ul>
                            </div>
                            <div class="blog-info">
                                <h3><a href="blog-details.html">Future Horizons Navigating Tomorrow World</a></h3>
                                <a href="blog-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="/img/all-img/blog-3.jpg" alt="Image" class="trasnition">
                                <ul class="blog-metainfo">
                                    <li><i class='bx bx-calendar'></i> <a href="blog.html">Jun 18, 2025</a></li>
                                    <li><i class='bx bx-time'></i>2 mins read</li>
                                </ul>
                            </div>
                            <div class="blog-info">
                                <h3><a href="blog-details.html">Tomorrow Tapestry Navigating the Future World</a></h3>
                                <a href="blog-details.html" class="btn-link">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Section -->

{{end}}