<script src="/js/others.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
    $(document).ready(function() {

        $('.titleclear').each(function(f) {

            var newstr = $(this).text().substring(0, 45) + "...";
            $(this).text(newstr);

        });
    })
</script>

<script>
    $(document).ready(function() {

        $('.descriptionclear').each(function(f) {

            var newstr = $(this).text().substring(0, 100) + "...";
            $(this).text(newstr);

        });
    })
</script>

<script>
    $(function() {
        $("#BookAppointment").on("submit", function(event) {
            event.preventDefault();

            var name = $("#name").val().trim();
            var email = $("#email").val().trim();
            var phoneNumber = $("#phoneNumber").val().trim();
            var message = $("#message").val().trim();

            var data = {
                companyId: "66bf05890472a2f5dc5b33f9",
                formId: "66bf05890472a2f5dc5b33ff",
                locationId: "66bf05890472a2f5dc5b33fb",
                source: "WebSite",
                fields: [{
                    key: "name",
                    value: name
                }, {
                    key: "email",
                    value: email
                }, {
                    key: "phoneNumber",
                    value: phoneNumber
                }, {
                    key: "message",
                    value: message
                }]
            };

            var BookAppointment = JSON.stringify(data);
            $.ajax({
                url: "https://crm-api.leadhooper.com/api/lead",
                headers: {
                    'Content-Type': 'application/json',
                },
                type: "post",
                data: BookAppointment,
                success: function(d) {
                    $("#BookAppointment")[0].reset();
                    toastr.success(d.message);
                    window.location = "/";

                },
                error: function(xhr, status, error) {
                    var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'Failed to submit form';
                    toastr.error(errorMessage);
                }
            });
        });
    });
</script>

<!-- ------------------------------------------------------------------ -->

<!-- Twitter -->
<script>
    $(".shareTwitter").click(function() {
        console.log("click", window.location.href)
        window.open("https://twitter.com/intent/tweet?url=" + window.location.href, '_blank');
    });

    // $(".copyLink").click(function() {
    //     getTwitterUrl = 'https://twitter.com/intent/tweet?url='
    //     getRouteLocation = window.location.href;
    //     navigator.clipboard.writeText(`${getTwitterUrl}${getRouteLocation}`);
    // });
</script>
<!-- facebook -->
<script>
    $(".sharefacebook").click(function() {
        console.log("click", window.location.href)
        window.open("https://www.facebook.com/sharer/sharer.php?u=" + window.location.href, '_blank');
    });

    // $(".copyLink").click(function() {
    //     getTwitterUrl = 'https://www.facebook.com/sharer/sharer.php?u='
    //     getRouteLocation = window.location.href;
    //     navigator.clipboard.writeText(`${getTwitterUrl}${getRouteLocation}`);
    // });
</script>
<!-- linkedin -->
<script>
    $(".sharelinkedin").click(function() {
        console.log("click", window.location.href)
        window.open("https://www.linkedin.com/shareArticle?mini=true&url=" + window.location.href, '_blank');
    });

    // $(".copyLink").click(function() {
    //     getTwitterUrl = 'https://twitter.com/intent/tweet?url='
    //     getRouteLocation = window.location.href;
    //     navigator.clipboard.writeText(`${getTwitterUrl}${getRouteLocation}`);
    // });
</script>
<!-- Whatsapp -->
<script>
    $(".sharewhatsapp").click(function() {
        console.log("click", window.location.href)
        window.open("https://wa.me/?text=Awesome%20Blog%20" + window.location.href, );
    });

    // $(".copyLink").click(function() {
    //     getTwitterUrl = 'https://twitter.com/intent/tweet?url='
    //     getRouteLocation = window.location.href;
    //     navigator.clipboard.writeText(`${getTwitterUrl}${getRouteLocation}`);
    // });
</script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const allLinks = document.querySelectorAll("a");
    allLinks.forEach(function (link) {
      link.classList.add("magnet-link");
    });
  });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const tocLinks = document.querySelectorAll("#toc a");
        const headings = document.querySelectorAll("h2, h3");

        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    const id = entry.target.getAttribute("id");
                    if (entry.isIntersecting) {
                        tocLinks.forEach((link) => {
                            // Remove 'active' class from all links
                            link.classList.remove("active");

                            if (link.getAttribute("href") === `#${id}`) {
                                // Add 'active' class to the current link
                                link.classList.add("active");

                                // Expand parent `ul` for active `h3`
                                if (entry.target.tagName === "H3") {
                                    const parentUl = link.closest("ul");
                                    if (parentUl) parentUl.style.display = "block";
                                }

                                // Expand sub-items for active `h2`
                                if (entry.target.tagName === "H2") {
                                    document
                                        .querySelectorAll("#toc ul ul")
                                        .forEach((ul) => (ul.style.display = "none"));
                                    const subList = link.closest("li").querySelector("ul");
                                    if (subList) subList.style.display = "block";
                                }
                            }
                        });
                    }
                });
            }, {
                threshold: 0.6
            } // Adjust threshold for better visibility handling
        );

        headings.forEach((heading) => observer.observe(heading));
    });
</script>